.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #0275d8;
    color: white;
    font-weight: 600;
    z-index: 9998;
    align-content: center;
  }